

{% extends 'app/base.html' %}

{% block content %}
<style>
    textarea {
        background-color:white;
        height: 400px;
        padding:10px;
    }

    #formdiv {
        padding:10px;
        margin:10px 0px;
        text-align:center;
    }

</style>
<div id="formdiv" class="white z-depth-2 row">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-field inline">
            <select name="week_index" class="inline">
                {% for week in weeks %}
                <option value="{{week.index}}" {% if week.index == week_index %}selected{% endif %}>{{week.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">view events</button>
    </form>
</div>
<textarea>
View all upcoming events on http://aapdx.org!
{% for event in events %}
{{event.title}}
{{event.datetime}}
{{event.location}}
{{event.link}}
{% endfor %}

</textarea>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>

{% endblock %}