

{% extends 'app/base.html' %}


{% block content %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<style>
    #maindiv {
        margin:10px;
        padding:10px;
    }
    .message {
        margin: 10px;
        padding:10px;
        text-align:center;
        cursor: default;
    }
</style>

{% if message_error %}
<div class="message red white-text z-depth-2">{{message_error}}</div>
{% endif %}


{% if message_success %}
<div class="message blue white-text z-depth-2">{{message_success}}</div>
{% endif %}

<div id="maindiv" class="white z-depth-2 row">
    <form action="{% url 'app:submit_facebook_event' %}" method="post" class="col s12">
        {% csrf_token %}
        <div class="input-field">
            <input placeholder="https://www.facebook.com/events/1789125017772768/" id="facebook_url" type="text" name="facebook_url"/>
            <label for="facebook_url">Facebook Event URL</label>
        </div>
        <div class="input-field">
        <div class="g-recaptcha" data-sitekey="6LckvWoUAAAAABQ-E8kuah1rCyar70tikKStMQWz"></div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

{% endblock %}